{% extends "layout.html" %}
{% block content %}
	<form method="post", action="", autocomplete="off">
		<H1>Add Meal</H1>
		<ul>
			<li>
				<label for="name">Meal Name: </label>
				<input class = "add_meal" type = "text" id="name" name= "Name" required />
			</li>
			<li>
				<label for="staple">Staple:</label>
				<select class = "add_meal" name="Staple">
					{%for i in range(staples|length)%}
						<option value = "{{staples[i]}}">{{staples[i]}}</option> 
					{%endfor%}
				</select>
			</li>
			<li>
				<label for="book">Book:</label>
				<select class = "add_meal" name="Book">
					{%for i in range(books|length)%}
						<option value = "{{books[i]}}">{{books[i]}}</option> 
					{%endfor%}
				</select>
			</li>
			<li>
				<label for="page">Page no: </label>
				<input class = "add_meal" type = "text" name = "Page" />
			</li>
			<li>
				<label for="website">Website: </label>
				<input class = "add_meal" type = "text" name = "Website" />
			</li>
			{%for ingredient_type, ingredient_dicts in ingredients.items()%}
				<H2>{{ingredient_type}} Ingredients</H2>
					{%for i in range(ingredient_dicts|length)%}
						<li>
							<label for={{ingredient_dicts[i].Ingredient}}>{{ingredient_dicts[i].Ingredient}} </label>
							<input class = "add_meal" type = "text" name = "ingredient_type {{ingredient_dicts[i].Ingredient}}" />
							<label class="units" for={{ingredient_dicts[i].Unit}}>{{ingredient_dicts[i].Unit}}</label>
						</li>
					{%endfor%}
			{%endfor%}
			<H2>Tags</H2>
				<table id="checkboxtable">
					{%for i in range(tags|length)%}
						<tr>
							<td id="checkboxtable_col1"><label for="{{tags[i]}}">{{tags[i]}}</label></td>
							<td id="checkboxtable_col2">
								<input type="checkbox" id="{{tags[i]}}" name="Tag {{tags[i]}}" value="{{tags[i]}}">
							</td>
						</tr>
					{%endfor%}
				</table>
			<li>
				<input class="button" type="submit">
			</li>
		</ul>
	</form>
{% endblock %}