<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        </head>
		<div class="topnav">
			<a class="active" href="/">Home</a>
			<div class="dropdown">
				<button class="dropbtn">Meals
				<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="/add">Add Meal</a>
					<a href="/edit">Edit Meal</a>
					<a href="/list_meals">List Meals</a>
					<a href="find">Get Meal Info</a>
					<a href="/search">Search Ingredients</a>
					<a href="/inspire">Inspire Me</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn">Meal Plans
				<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="/create">Create Meal Plan</a>
					<a href="/load">Load Meal Plan</a>
					<a href="/delete">Delete Meal Plan</a>
				</div>
			</div>
		</div>
            <br></br>
            <body>
                <h1 class="display_meal_plan_header">Meal info added for {{meal_name}}!</h1>
                    {% if 'Book' in location_keys %}
                        <h2 class="display_meal_plan_header">{{location_details['Book']}}, page {{location_details['Page']}}</h2>
                    {% else %}
                        <h2 class="display_meal_plan_header">{{location_details['Website']}}</h2>
                    {% endif %}
                    <table>
                        <tr>
                            <th class="ingredients">Fresh Ingredients</th>
                            <th class="quantity">Quantity</th>
                        </tr>
                        {%for i in range(0, len_fresh_ingredients)%}
                            <tr>
                                <td>{{fresh_ingredients_keys[i]}}</td>
                                <td>{{fresh_ingredients_values[i]}}</td>
                            </tr>
                        {%endfor%}
                    </table>
                    <table>
                        <tr>
                            <th class="ingredients">Tinned Ingredients</th>
                            <th class="quantity"> </th>
                        </tr>
                        {%for i in range(0, len_tinned_ingredients)%}
                            <tr>
                                <td>{{tinned_ingredients_keys[i]}}</td>
                                <td>{{tinned_ingredients_values[i]}}</td>
                            </tr>
                        {%endfor%}
                    </table>
                    <table>
                        <tr>
                            <th class="ingredients">Dry Ingredients</th>
                            <th class="quantity"> </th>
                        </tr>
                        {%for i in range(0, len_dry_ingredients)%}
                            <tr>
                                <td>{{dry_ingredients_keys[i]}}</td>
                                <td>{{dry_ingredients_values[i]}}</td>
                            </tr>
                        {%endfor%}
                    </table>
                    <table>
                        <tr>
                            <th class="ingredients">Dairy Ingredients</th>
                            <th class="quantity"> </th>
                        </tr>
                        {%for i in range(0, len_dairy_ingredients)%}
                        <tr>
                            <td>{{dairy_ingredients_keys[i]}}</td>
                            <td>{{dairy_ingredients_values[i]}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                        <form method="post", action="" id="returnform">
                            <input class="button" type="submit" value="Return" id="returnbutton">
                        </form>
                    <body>
                </html>