{% extends "layout.html" %}
{% block content %}
	<form method="post", action="", autocomplete="off">
		<H1>Edit Meal</H1>
		<ul>
			<li>
				<label for="name">Meal Name: </label>
				<input class = "add_meal" type = "text" id="name" name="Name" value="{{meal_name}}" required></input>
			</li>
			<li>
				<label for="staple">Staple:</label>
				<select class = "add_meal" name="Staple" selected="Risotto">
					{%for i in range(0, staples|length)%}
					<p>i.Staple</p>
						{%if staples[i].Staple == current_staple%}
							<option selected = "{{current_staple}}" value = "{{current_staple}}">{{current_staple}}</option>
						{% else %}
							<option value = "{{staples[i].Staple}}">{{staples[i].Staple}}</option>
						{%endif%}
					{%endfor%}
				</select>
			</li>
			<li>
				<label for="book">Book:</label>
				<select class = "add_meal" name="Book">
					{%for i in range(0, books|length)%}
						{%if books[i] == book%}
							<option selected = "{{book}}" value = "{{books[i]}}">{{books[i]}}</option> 
						{% else %}
							<option value = "{{books[i]}}">{{books[i]}}</option>
						{%endif%}
					{%endfor%}
				</select>
			</li>
			<li>
				<label for="page">Page no: </label>
				<input class = "add_meal" type = "text" name = "Page"  value="{{page}}" />
			</li>
			<li>
				<label for="website">Website: </label>
				<input class = "add_meal" type = "text" name = "Website"  value="{{website}}" />
			</li>
			{%for ingredient_type, ingredient_dict in current_ingredients.items()%}
				<H2>{{ingredient_type}} Ingredients</H2>
				{%for i in range(0, ingredient_dict|length)%}
					<li>
						<label for={{ingredient_dict[i].Ingredient}}>{{ingredient_dict[i].Ingredient}} </label>
							{%if ingredient_dict[i].Quantity is not none%}
								<input class = "add_meal" type = "text" name = "{{ingredient_type}} {{ingredient_dict[i].Ingredient}}" value = "{{ingredient_dict[i].Quantity}}"/>
							{%else%}
								<input class = "add_meal" type = "text" name = "{{ingredient_type}} {{ingredient_dict[i].Ingredient}}"/>
							{%endif%}
						<label class="units" for={{ingredient_dict[i].Unit}}>{{ingredient_dict[i].Unit}}</label>
					</li>
				{%endfor%}
			{%endfor%}
			<H2>Tags</H2>
				<table id="checkboxtable">
					{%for tag_key, tag_value in current_tags.items()%}
						<tr>
							<td id="checkboxtable_col1"><label for="{{tag_key}}">{{tag_key|replace("_", "/")}}</label></td>
							<td id="checkboxtable_col2">
								{%if tag_value == 1%}
								<input type="checkbox" id="{{tag_key}}" name="{{tag_key}}" value="{{tag_value}}" checked="True">
								{%else%}
								<input type="checkbox" id="{{tag_key}}" name="{{tag_key}}" value="{{tag_value}}">
								{%endif%}
							</td>
						</tr>
					{%endfor%}
				</table>
			<li>
				<input class="button" type="submit">
			</li>
		</ul>
	</form>
{% endblock %}