{% extends "layout.html" %}
{% block content %}
    <form method="post", action="">
        <H1>Edit Meal</H1>
        <ul>
            <li>
                <label for="meal">Meal:</label>
                <select name="Meal" required>
                    <option value="null"></option>
                    {%for i in range(0, meals|length)%}
                    <option value = "{{meals[i]}}">{{meals[i]}}</option> 
                    {%endfor%}
                </select>
            </li>
            <li>
                <input class="button" type="submit">
            </li>
        </ul>
    </form>
{% endblock %}