{% extends "layout.html" %}
{% block content %}
    <form method="post", action="">
        <H1>Select a tag</H1>
        <ul>
            <li>
                <label for="tag">Tag:</label>
                <select name="Tag" required>
                    <option value="null"></option>
                    {%for i in range(0, len_tags)%}
                    <option value = "{{tags[i]}}">{{tags[i]}}</option> 
                    {%endfor%}
                </select>
            </li>
            <li>
                <input class="button" type="submit">
            </li>
        </ul>
    </form>
{% endblock %}