{% extends "layout.html" %}
{% block content %}
    <form method="post", action="">
        <H1>Meal Finder</H1>
        <ul>
            {%for ingredient_type, ingredient_values in ingredients.items()%}
            <li>
                <label for="{{ingredient_type}}_Ingredients">{{ingredient_type.replace("_", " ")}} Ingredients:</label>
                    <select name="{{ingredient_type}}_Ingredients" required>
                        <option value="null"></option>
                        {%for i in range(0, ingredient_values|length)%}
                        <option value = "{{ingredient_values[i]}}">{{ingredient_values[i]}}</option> 
                        {%endfor%}
                    </select>
            </li>
            <li>
                <input class="button" type="submit" name="{{ingredient_type}}_Ingredients" value="Find meals">
            </li>
            {%endfor%}
        </ul>
    </form>
{% endblock %}