<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        </head>
        	<body>
		        <form method="post", action="">
                    <H1>Meal Planner</H1>
                        <H2>Select meals</H2>
                        <ul>
                            <li>
                                <label for="beans">Beans</label>
                                <select name="Meal 1" required>
                                    <option value="null"></option>
                                    {%for i in range(0, len_bean_meals)%}
                                    <option value = "{{bean_meals[i]}}">{{bean_meals[i]}}</option> 
                                    {%endfor%}
                                </select>
                                <select name="Quantity 1" id="quantity" required>
                                    <option value="1">1</option>
                                    {%for i in range(2, 5)%}
                                    <option value = "{{i}}">{{i}}</option> 
                                    {%endfor%}
                                </select>
                            </li>
                            <li>
                                <label for="bread">Bread</label>
                                <select name="Meal 2" required>
                                    <option value="null"></option>
                                    {%for i in range(0, len_bread_meals)%}
                                    <option value = "{{bread_meals[i]}}">{{bread_meals[i]}}</option> 
                                    {%endfor%}
                                </select>
                                <select name="Quantity 2" id="quantity" required>
                                    <option value="1">1</option>
                                    {%for i in range(2, 5)%}
                                    <option value = "{{i}}">{{i}}</option> 
                                    {%endfor%}
                                </select>
                            </li>
                            <li>
                                <label for="cereal">Cereal</label>
                                <select name="Meal 3" required>
                                    <option value="null"></option>
                                    {%for i in range(0, len_cereal_meals)%}
                                    <option value = "{{cereal_meals[i]}}">{{cereal_meals[i]}}</option> 
                                    {%endfor%}
                                </select>
                                <select name="Quantity 3" id="quantity" required>
                                    <option value="1">1</option>
                                    {%for i in range(2, 5)%}
                                    <option value = "{{i}}">{{i}}</option> 
                                    {%endfor%}
                                </select>
                            </li>
                            <li>
                                <label for="cous cous">Cous Cous</label>
                                <select name="Meal 4" required>
                                    <option value="null"></option>
                                    {%for i in range(0, len_cous_cous_meals)%}
                                    <option value = "{{cous_cous_meals[i]}}">{{cous_cous_meals[i]}}</option> 
                                    {%endfor%}
                                </select>
                                <select name="Quantity 4" id="quantity" required>
                                    <option value="1">1</option>
                                    {%for i in range(2, 5)%}
                                    <option value = "{{i}}">{{i}}</option> 
                                    {%endfor%}
                                </select>
                            </li>
                            <li>
                                <label for="pasta">Pasta</label>
                                <select name="Meal 5" required>
                                    <option value="null"></option>
                                    {%for i in range(0, len_pasta_meals)%}
                                    <option value = "{{pasta_meals[i]}}">{{pasta_meals[i]}}</option> 
                                    {%endfor%}
                                </select>
                                <select name="Quantity 5" id="quantity" required>
                                    <option value="1">1</option>
                                    {%for i in range(2, 5)%}
                                    <option value = "{{i}}">{{i}}</option> 
                                    {%endfor%}
                                </select>
                            </li>
                            <li>
                                <label for="pastry">Pastry</label>
                                <select name="Meal 6" required>
                                    <option value="null"></option>
                                    {%for i in range(0, len_pastry_meals)%}
                                    <option value = "{{pastry_meals[i]}}">{{pastry_meals[i]}}</option> 
                                    {%endfor%}
                                </select>
                                <select name="Quantity 6" id="quantity" required>
                                    <option value="1">1</option>
                                    {%for i in range(2, 5)%}
                                    <option value = "{{i}}">{{i}}</option> 
                                    {%endfor%}
                                </select>
                            </li>
                            <li>
                                <label for="potato">Potato</label>
                                <select name="Meal 7" required>
                                    <option value="null"></option>
                                    {%for i in range(0, len_potato_meals)%}
                                    <option value = "{{potato_meals[i]}}">{{potato_meals[i]}}</option> 
                                    {%endfor%}
                                </select>
                                <select name="Quantity 7" id="quantity" required>
                                    <option value="1">1</option>
                                    {%for i in range(2, 5)%}
                                    <option value = "{{i}}">{{i}}</option> 
                                    {%endfor%}
                                </select>
                            </li>
                            <li>
                                <label for="rice">Rice</label>
                                <select name="Meal 8" required>
                                    <option value="null"></option>
                                    {%for i in range(0, len_rice_meals)%}
                                    <option value = "{{rice_meals[i]}}">{{rice_meals[i]}}</option> 
                                    {%endfor%}
                                </select>
                                <select name="Quantity 8" id="quantity" required>
                                    <option value="1">1</option>
                                    {%for i in range(2, 5)%}
                                    <option value = "{{i}}">{{i}}</option> 
                                    {%endfor%}
                                </select>
                            </li>
                            </li>
                            <li>
                                <H2>Remember!</H2>
                                    <table id="checkboxtable">
                                        {%for i in range(0, len_extras)%}
                                            <tr>
                                                <td id="checkboxtable_col1"><label for="{{extras[i]}}">{{extras[i]}}</label></td>
                                                <td id="checkboxtable_col2"><input type="checkbox" id="{{extras[i]}}" name="Extra {{i}}" value="{{extras[i]}}"></td>
                                            </tr>
                                        {%endfor%}
                                    </table>
                            </li>
                            <li>
                                <input class="button" type="submit">
                            </li>
                        </ul>
                    </form>
                </html>