<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        </head>
        	<body>
		        <form method="post", action="">
                    <H1>Meal Information</H1>
                    <ul>
                        <li>
                            <label for="meal">Meal:</label>
                            <select name="Meal" required>
                                <option value="null"></option>
        <option value="Carrot Risotto">Carrot Risotto</option>
                            <option value="Creamy Orzo">Creamy Orzo</option>
                            <option value="Hassleback Potatoes">Hassleback Potatoes</option>
                            <option value="Mac & Greens">Mac & Greens</option>
                            <option value="Pizza Naan">Pizza Naan</option>
                            <option value="Pizza Naan23er2r2r">Pizza Naan23er2r2r</option>
                            <option value="Rice & Greens">Rice & Greens</option>
                            <option value="Roasted Veg & Beans">Roasted Veg & Beans</option>
                            <option value="test">test</option>
                            <option value="test2222222">test2222222</option>
                            <option value="testefd3wef">testefd3wef</option>
                            
                        </select>
                    </li>
                    <li>
					    <input class="button" type="submit">
				    </li>
                </ul>
            </form>
        </html>
                    