<html>
	<head>
		<meta charset="utf-8" />
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
	</head>
	<div class="topnav">
		<a class="active" href="/">Home</a>
		<a href="http://0.0.0.0:5000/add">Add Meal</a>
		<a href="http://0.0.0.0:5000/find">Get Meal Info</a>
		<a href="http://0.0.0.0:5000/search">Search Ingredients</a>
		<a href="http://0.0.0.0:5000/list">List Meals</a>
		<a href="http://0.0.0.0:5000/create">Create Meal Plan</a>
		<a href="http://0.0.0.0:5000/choose_meal_plan">Load Meal Plan</a>
		<a href="http://0.0.0.0:5000/delete_meal_plan">Delete Meal Plan</a>
	  </div>
	<br></br>
	<body>
		<form method="post", action="">
			<H1>Homepage</H1>
			<ul>
				<li>
					<input class="button" id="homepagebutton" name="submit" type="submit" value="Add Meal">
                </li>
				<li>
					<input class="button" id="homepagebutton" name="submit" type="submit" value="Get Meal Info">
				</li>
				<li>
					<input class="button" id="homepagebutton" name="submit" type="submit" value="Search Ingredients">
				</li>
				<li>
					<input class="button" id="homepagebutton" name="submit" type="submit" value="List Meals">
				</li>
				<li>
					<input class="button" id="homepagebutton" name="submit" type="submit" value="Create Meal Plan">
				</li>
				<li>
					<input class="button" id="homepagebutton" name="submit" type="submit" value="Load Meal Plan">
				</li>
				<li>
					<input class="button" id="homepagebutton" name="submit" type="submit" value="Delete Meal Plan">
				</li>
			</ul>
		</form>
	</body>
</html>