<HTML>
    <link rel="stylesheet" href="styles.css">
    <BODY bgcolor="white">
    <form method="POST" action="">
        <H1 style="font-family:verdana;">Meal Updater</H1>
        <p style="font-family:verdana;">
        Meal Name: <input type = "text" name= "Name" required /> <br>
        Staple: <select name="Staple">
            <option value="null"></option>
            <option value="Bread">Bread</option>
            <option value="Cous Cous">Cous Cous</option>
            <option value="Pasta">Pasta</option>
            <option value="Pastry">Pastry</option>
            <option value="Potato">Potato</option>
            <option value="Rice">Rice</option>
          </select> <br>
        Book: <select name="Book">
            <option value="null"></option>
            <option value="Bosh 1">Bosh 1</option>
            <option value="Bosh 2">Bosh 2</option>
            <option value="Jamie Oliver">Jamie Oliver</option>
            <option value="Nigel Slater AW">Nigel Slater Autumn/Winter</option>
            <option value="Ultimate Pasta">Ultimate Pasta</option>
            <option value="Riverford SS">Riverford Spring/Summer</option>
            <option value="Riverford AW">Riverford Autumn/Winter</option>
          </select> <br>
        Page no: <input type = "text" name = "Page" /> <br>
        Website: <input type = "text" name = "Website" /> <br> </p>
        <H2 style="font-family:verdana;">Fresh Ingredients</H2>
            <p style="font-family:verdana;">
            Aubergine <input type = "text" name = "Fresh Aubergine" /> <br>
            Broccoli <input type = "text" name = "Fresh Broccoli" /> <br>
            Butternut Squash <input type = "text" name = "Fresh Butternut Squash" /> <br>
            Carrots <input type = "text" name = "Fresh Carrots" /> <br>
            Cherry Tomatoes <input type = "text" name = "Fresh Cherry Tomatoes" /> <br>
            Chilli Peppers <input type = "text" name = "Fresh Chilli Peppers" /> <br>
            Clementines <input type = "text" name = "Fresh Clementines" /> <br>
            Courgettes <input type = "text" name = "Fresh Courgettes" /> <br>
            Garlic <input type = "text" name = "Fresh Garlic" /> <br>
            Kale <input type = "text" name = "Fresh Kale" /> <br>
            Leek <input type = "text" name = "Fresh Leek" /> <br>
            Lemon <input type = "text" name = "Fresh Lemon" /> <br>
            Lime <input type = "text" name = "Fresh Lime" /> <br>
            Onions (White) <input type = "text" name = "Fresh White Onions" /> <br>
            Onions (Red) <input type = "text" name = "Fresh Red Onions" /> <br>
            Pepper (Green) <input type = "text" name = "Fresh Green Peppers" /> <br>
            Pepper (Red) <input type = "text" name = "Fresh Red Peppers" /> <br>
            Pepper (Yellow) <input type = "text" name = "Fresh Yellow Peppers" /> <br>
            Potatoes (Baking) <input type = "text" name = "Fresh Baking Potatoes" /> <br>
            Potatoes (Marris Piper) <input type = "text" name = "Fresh Marris Piper Potatoes" /> <br>
            Potatoes (New) <input type = "text" name = "Fresh New Potatoes" /> <br>
            Potatoes (Sweet) <input type = "text" name = "Fresh Sweet Potatoes" /> <br>
            Spinach <input type = "text" name = "Fresh Spinach" /> <br>
            Spring Onions <input type = "text" name = "Fresh Spring Onions" /> <br>
            </p>

            <H2 style="font-family:verdana;">Tinned Ingredients</H2>
            <p style="font-family:verdana;">
            Butter Beans <input type = "text" name = "Tinned Butter Beans" /> <br>
            Canneloni Beans <input type = "text" name = "Tinned Canneloni Beans" /> <br>
            Kidney Beans <input type = "text" name = "Tinned Kidney Beans" /> <br>
            Mixed Beans <input type = "text" name = "Tinned Mixed Beans" /> <br>            
            Plum Tomatoes <input type = "text" name = "Tinned Plum Tomatoes" /> <br>
            </p>

            <H2 style="font-family:verdana;">Dry Ingredients</H2>
            <p style="font-family:verdana;">
            Cous Cous <input type = "text" name = "Dry Cous Cous" /> <br>
            Naan Bread <input type = "text" name = "Dry Naan Bread" /> <br>
            Orzo <input type = "text" name = "Dry Orzo" /> <br>
            Pasta (Lasagne) <input type = "text" name = "Dry Lasagne" /> <br>
            Pasta (Penne) <input type = "text" name = "Dry Penne" /> <br>
            Pasta (Spaghetti) <input type = "text" name = "Dry Spaghetti" /> <br>
            Rice (Arborio) <input type = "text" name = "Dry Arborrio Rice" /> <br>
            Rice (Long Grain) <input type = "text" name = "Dry Long Grain Rice" /> <br>
            </p>

            <H2 style="font-family:verdana;">Dairy Ingredients</H2>
            <p style="font-family:verdana;">
            Butter <input type = "text" name = "Dairy Butter" /> <br>
            Cheese (Cheddar) <input type = "text" name = "Dairy Cheddar" /> <br>
            Cheese (Mozzarella) <input type = "text" name = "Dairy Mozzarella" /> <br>
            Milk <input type = "text" name = "Dairy Milk" /> <br>
            </p>
        <input type = "submit">
    </form>
    </BODY>
    </HTML>