<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        </head>
        
        <h1>Ingredients List</h1>
        <table>
            <tr>
                <th>Fresh Ingredients</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>Tomatoes</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Courgettes</td>
                <td>6</td>
            </tr>
        </table>
    </html>
        