<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        </head>
            <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="http://0.0.0.0:5000/add">Add Meal</a>
                <a href="http://0.0.0.0:5000/find">Get Meal Info</a>
                <a href="http://0.0.0.0:5000/search">Search Ingredients</a>
                <a href="http://0.0.0.0:5000/list">List Meals</a>
                <a href="http://0.0.0.0:5000/create">Create Meal Plan</a>
                <a href="http://0.0.0.0:5000/choose_meal_plan">Load Meal Plan</a>
                <a href="http://0.0.0.0:5000/delete_meal_plan">Delete Meal Plan</a>
            </div>
            <br></br>
        	<body>
                <H1>Meals List</H1>
                    <H2>Current meal count: {{len_meals}}</H2>
                    <script src="{{ url_for('static', filename='/js/sorttable.js') }}"></script>
                        <table class="sortable">
                                <tr class="item">
                                    <th>Meal</th>
                                    <th>Staple</th>
                                    <th>Book</th>
                                    <th>Page</th>
                                    <th>Website</th>
                                    <th>Link</th>
                                </tr>
                            {%for i in range(0, len_meals)%}
                                <tr class="item">
                                    <td>{{meal_names[i]}}</td>
                                    <td>{{staples[i]}}</td>
                                    <td>{{books[i]}}</td>
                                    <td>{{page[i]}}</td>
                                    <td>{{website[i]}}</td>
                                    <td>
                                        <form method="post" value="{{meal_names[i]}}" id="form1">
                                            <input type="submit" name="submit" value="{{meal_names[i]}}" id="MealLink"></input>
                                        </form>
                                    </td>
                                </tr>
                            {%endfor%}
                        </table>
                    </body>
                </html>