{% extends "layout.html" %}
{% block content %}
    <form method="post", action="" class="wideform">
        <H1>Meal Planner</H1>
        <div class="grid-container">
        {% set counter = 1 -%}
        {%for week_number in range(1, 4)%}
        <div>
        <H2>Week {{week_number}} Meals</H2>
        <ul>
        {%for staple in staples%}
            <li>
                <label for="{{staple|lower}}" class=create_form_label>{{staple}}</label>
                <select name="Meal {{counter}}" required>
                    <option value="null"></option>
                    {%for i in range(0, staples_dict[staple]|length)%}
                    <option value = "{{staples_dict[staple][i]}}">{{staples_dict[staple][i]}}</option> 
                    {%endfor%}
                </select>
                <select name="Quantity {{counter}}" id="quantity" required>
                    <option value="null"></option>
                    {%for i in range(1, 5)%}
                    <option value = "{{i}}">{{i}}</option> 
                    {%endfor%}
                </select>
            </li>
        {% set counter = counter + 1 %}
        {%endfor%}
        </ul>
        </div>
        {%endfor%}
        </div>
            <ul>
                <li>
                <H2>Remember!</H2>
                    <div class=extras_table>
                        <table id="checkboxtable">
                            {%for i in range(0, extras|length)%}
                                <tr>
                                    <td id="checkboxtable_col1"><label for="{{extras[i]}}">{{extras[i]}}</label></td>
                                    <td id="checkboxtable_col2"><input type="checkbox" id="{{extras[i]}}" name="Extra {{i}}" value="{{extras[i]}}"></td>
                                </tr>
                            {%endfor%}
                        </table>
                    </div>
            </li>
            <li>
                <input class="button" type="submit">
            </li>
        </ul>
    </form>
{% endblock %}