<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        </head>
            <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="http://0.0.0.0:5000/add">Add Meal</a>
                <a href="http://0.0.0.0:5000/find">Get Meal Info</a>
                <a href="http://0.0.0.0:5000/search">Search Ingredients</a>
                <a href="http://0.0.0.0:5000/list_meals">List Meals</a>
                <a href="http://0.0.0.0:5000/create">Create Meal Plan</a>
                <a href="http://0.0.0.0:5000/load">Load Meal Plan</a>
                <a href="http://0.0.0.0:5000/delete">Delete Meal Plan</a>
            </div>
            <br></br>
                <body>
                        <H1>Meal plans deleted</H1>
                    </html>