{% extends "layout.html" %}
{% block content %}
    <form method="post", action="">
        <H1>Choose meal plan</H1>
        <ul>
            <li>
                <label for="meal">Meal plan</label>
                <select name="Meal Plan" required>
                    <option value="null"></option>
                    {%for i in range(0, len_meal_plans)%}
                    <option value = "{{meal_plans[i]}}">{{meal_plans[i]}}</option> 
                    {%endfor%}
                </select>
            </li>
            <li>
                <input class="button" type="submit">
            </li>
        </ul>
    </form>
{% endblock %}
                     